@using TurboLinksTest.Models
@model ProjectViewModel
@{ ViewBag.Title = Model.ProjectName; }
<h1>@ViewBag.Title</h1>
<div id="project">
  @Html.Partial("TaskCreate", new Task { ProjectId = Model.ProjectId })
  @if (Model.IncompletedTasks.Any()) {
    @Html.Partial(
      "TaskList",
      new TaskEditModel
        {
          Title ="Incomplete tasks",
          DomId = "incomplete-list",
          List = Model.IncompletedTasks
        })
  }
  @if (Model.CompletedTasks.Any()) {
    @Html.Partial(
      "TaskList",
      new TaskEditModel
        {
          Title ="Completed tasks",
          DomId = "completed-list",
          List = Model.CompletedTasks
        })
  }
</div>
<p>@Html.ActionLink("Back to projects", "Index")</p>
<script>
  (function($) {
    $(function() {
      $(document).on('click', '.task-list input[type="checkbox"]', function () {
        var form = $(this).closest('form'),
          options = {
            url: form.attr('action'),
            method: form.attr('method') || 'POST',
            data: form.serializeArray(),
            success: function() {
              onTaskSuccess();
            }
          };

        options.data.push({ name: "X-Requested-With", value: "XMLHttpRequest" });

        $.ajax(options);
      });
    });
  })(jQuery);

  function onTaskSuccess() {
    Turbolinks.visit('@Url.Action(
      "Details",
      "Projects",
      new { id = Model.ProjectId })');
  }
</script>