@using TurboLinksTest.Models
@model Project
@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "onProjectSuccess" })) {
  <div class="field">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { autofocus = "autofocus" })
    @Html.ValidationMessageFor(m => m.Name)
  </div>
  <div class="actions">
    @Html.AntiForgeryToken()
    <button type="submit">Submit</button> 
    or 
    @Html.ActionLink("Cancel", "Index")
  </div>
}